---
const isCJK = false;
const containerClass = [
  'prose dark:prose-invert mx-auto',
  isCJK ? 'prose-p:text-justify prose-li:text-justify' : 'prose-p:text-left prose-li:text-left',
].join(' ');
---

<div class={containerClass}>
  <slot />
</div>
